<h2>Lista animales</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>raza</th>
          <th>Edad</th>
          <th>tipo</th>
          <th>Acciones</th>
        </tr>
    </thead>
      <tbody class="table-dark">
        <tr *ngFor="let animal of animales">
          <td>{{animal.id}}</td>
          <td>{{animal.nombre}}</td>
          <td>{{animal.raza}}</td>
          <td>{{animal.edad}}</td>
          <td>{{animal.tipo}}</td>
          <td>
            <button type="button" routerLink="{{animal.id}}" class="btn btn-success" >Editar</button>
            <button type="button" class="btn btn-danger" (click)="onClickEliminar(animal.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
</table>
<router-outlet></router-outlet> 
  
  
