<!-- <h2>Lista animales</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>raza</th>
          <th>Edad</th>
          <th>tipo</th>
          <th>Acciones</th>
        </tr>
    </thead>
      <tbody class="table-dark">
        <tr *ngFor="let animal of animales">
          <td>{{animal.id}}</td>
          <td>{{animal.nombre}}</td>
          <td>{{animal.raza}}</td>
          <td>{{animal.edad}}</td>
          <td>{{animal.tipo}}</td>
          <td>
            <button type="button" routerLink="{{animal.id}}" class="btn btn-success" >Editar</button>
            <button type="button" class="btn btn-danger" (click)="onClickEliminar(animal.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
</table> -->
<!-- <div class="container" >
  <div class="peroygato" >
       
            <button type="button" class="btn btn-sm btn-outline-primary" style="width:50%" (click)="onClickPerros()">Perros</button>
         
          <button type="button" class="btn btn-sm btn-outline-primary" style="width:50%" (click)="onClickGatos()">Gatos</button>
       
  </div> -->
<!-- </div> -->
<div id="nuevo">
  <h1>¡Os presentamos a nuestros amigos!</h1>
<button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/registrar-animal">Nuevo animal</button>

 <div class="contenedor" >
      <div class="for" *ngFor="let animal of animales"  >
              <div class="card"  style="width: 25rem; margin: 6px;">
                    <a routerLink="/detalles-animal/{{animal.id}}">  <img [src]="animal.imagen" class="card-img-top" alt="animal"></a>
                  <div>
                      <div class="card-body">
                          <h5 class="card-title">{{animal.nombre}}</h5>
                          <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="{{animal.id}}">Editar</button>
                          <button type="button" (click)="onClickEliminar(animal.id)" class="btn btn-sm btn-outline-secondary">Eliminar</button>
                      </div>
                  </div>
             </div>
      </div>
  </div>
</div>