<!-- título -->
<h1>{{actividad.nombre}}</h1>

<!-- cuerpo -->
<div class="container">
    <!-- datos de la actividad -->
    <div class="contenedor">
        <p-panel>
            <ng-template pTemplate="header">
                <h3>{{actividad.nombre}}</h3>
            </ng-template>

            <ng-template pTemplate="content">
                <p>Fecha: {{actividad.fecha|date: 'dd/MM/yyyy'}}</p>
                <hr>
                <p>{{actividad.descripcion}}</p>

            </ng-template>
            <ng-template pTemplate="footer">
                <!-- botón para apuntarse -->
                <button *ngIf="isLogged" type="button" (click)="onClickApuntarse(actividad.id)"
                    class="btn btn-sm btn-outline-secondary">Apuntarse</button>
            </ng-template>
        </p-panel>
    </div>

<!-- lista de usuarios registrados a la actividad -->
    <h2>Usuarios registradados a la actividad</h2>
    <ul *ngFor="let au of actividadesusuarios">
        <li>{{au.usuario.nombre}}</li>
    </ul>
</div>