
	<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/sonrisaperros.jpg" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Bienvenidos al refugio</h3>
			<p>Agradecemos tu interés en nuestra comunidad</p>
		  </div>
	
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/perroygato.jpg" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>Sólo buscamos cariño</h3>
			<p>No somos nada exigentes</p>
		  </div>

	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/img/perrosychica.jpg" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Únete a nuestra causa</h3>
			<p>Cada granito de arena importa.</p>
		  </div>
	</ng-template>
</ngb-carousel>


