<app-carrusel></app-carrusel>

  <h2>¡Conoce a nuestros amigos!</h2>
  <div class="container" >
    <div class="for" *ngFor="let animal of animales"  >
            <div class="card"  style="width: 25rem; margin: 6px;">
                  <a routerLink="../detalles-animal/{{animal.id}}">  <img id="animalesid" [src]="animal.imagen" class="card-img-top" alt="animal"></a>
                <div>
                    <div class="card-body">
                        <h5 class="card-title">{{animal.nombre}}</h5>
                        <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-outline-secondary" routerLink="../animales/{{animal.id}}">Edit</button>
                        <button *ngIf="isAdmin" type="button" (click)="onClickEliminarAnimal(animal.id)" class="btn btn-sm btn-outline-secondary">Eliminar</button>
                    </div>
                </div>
           </div>
    </div>
    
  </div>
<div class="container">
  <p>La Asociación El amor no se compra nace en 2023 con el objetivo, en la medida de nuestras posibilidades, de ayudar en casos de desamparo y abandono de animales.

    Entre nuestras funciones se encuetran: buscar casas de acogida, manutención, gastos veterinarios y tramitación de adopciones.</p>
    <p>Somos una Asociación pequeña y contamos con un albergue pequeñito, por lo que SIEMPRE NECESITAMOS CASAS DE ACOGIDA para poder hacernos cargo de gatos o perros y que allí puedan conocer lo que es vivir en familia o volver a vivir en familia, encontrar respeto y cariño hasta que encuentran su familia definitiva.
    
      Nosotras cubrimos todos los gastos veterinarios y de manutención, la Casa de Acogida pone lo más Importante: CARIÑO Y ABRIR LAS PUERTAS DE SU CASA A UN ANIMAL ABANDONADO. Un ser vivo que necesita volver a confiar y ser feliz.
      </p>
</div>
<div class="container">
<h4>Patrocinadores</h4>
<div class="row container">
  <div class="col" id="columns" *ngFor="let patrocinador of patrocinadores">
  <div class="pat">
    <img src={{patrocinador.imagen}} class="figurepatrocinadores">
    <figcaption>{{patrocinador.nombre}}</figcaption>
    <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-outline-secondary" routerLink="../patrocinadores/{{patrocinador.id}}">Edit</button>
    <button *ngIf="isAdmin" type="button" (click)="onClickEliminarPatrocinador(patrocinador.id)" class="btn btn-sm btn-outline-secondary">Eliminar</button>
  </div>
</div>
</div>
</div>
<div class="container">
  <app-pie></app-pie>
</div>
