#animalesid {
  height: 300px;
  object-fit: cover;
  align-items: center;
}
.container{
  align-content: center;
  text-align: center;
}
.for{
    align-content: center;
    display: inline-block !important;
}
h2{
  padding: 4%;
  text-align: center;
  color: dimgray
}

p{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
  font-size:1vw;
}

h4{
  padding:  0% 0% 4% 1%;
  color: dimgray
}
