<img src="../../../assets/img/maraton.jpg" alt="">
<h1>Actividades <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-outline-secondary"
    routerLink="/registrar-actividad">Nueva</button></h1>
<div class="container">
  <div *ngFor="let actividad of actividades" id="contenedor">
    <p-panel>
      <ng-template pTemplate="header">
        <h3>{{actividad.nombre}}</h3>
      </ng-template>

      <ng-template pTemplate="content">
        {{actividad.descripcion}}
        <hr>
        <p>Fecha: {{actividad.fecha}}</p>

      </ng-template>
      <ng-template pTemplate="footer">
        <button *ngIf="isAdmin" type="button" class="btn btn-sm btn-outline-secondary" routerLink="{{actividad.id}}">Editar</button>
        <button *ngIf="isAdmin" type="button" (click)="onClickEliminarActividad(actividad.id)"
          class="btn btn-sm btn-outline-secondary">Eliminar</button>
        <button type="button" (click)="onClickApuntarse(actividad.id)"
          class="btn btn-sm btn-outline-secondary">Apuntarse</button>
        <button *ngIf="isAdmin" type="button" (click)="onClickVerUsuarios(actividad.id)" class="btn btn-sm btn-outline-secondary">Ver
          usuarios</button>
      </ng-template>
    </p-panel>
  </div>
</div>
<div class="container">
  <app-pie></app-pie>
</div>

