<div class="container py-3">
  <div class="title h1 text-center">{{animal.nombre}}</div>
  <!-- Card Start -->
  <div class="card">
    <div class="row ">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h3 class="card-title">{{animal.nombre}} - {{animal.raza}} </h3>
          <h3 class="card-title"> {{animal.edad}} años </h3>
          <p class="card-text">
            {{animal.descripcion}}
          </p>
           <br>
          <form [formGroup]="citasForm"><br>
            <input *ngIf="isLogged" type="date" [(ngModel)]="cita.fecha" name="fecha" id="fecha" formControlName="fecha" class="form-control">
            <button *ngIf="isLogged" type="submit" [disabled]="citasForm.invalid"  class="btn btn-sm btn-outline-secondary" (click)="onClickguardarCita()">Pedir cita</button>
            </form>
        </div>
      </div>
      <!-- Carousel start -->
      <div class="col-md-5">
        <img src="{{animal.imagen}}">
      </div>
      <!-- End of carousel -->
    </div>
  </div>
  <!-- End of card -->
</div>
