img{
  height: auto;
  object-fit: cover;
  align-items: center;
  width: 100%;
}

a{
  margin: 2%;
}
.for{
  display: inline-block;
  margin: 1%;
}
.contenedor{
  width: 100%;
}
#nuevo{
  text-align: center !important;
  padding: 0% 0 2% 0;
}
h1{
  padding-bottom: 1%;
}
