<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center" id="contenedor">
          <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{animal.imagen}}" alt="foto animal" /></div>
          <div class="col-md-6">   
                   
              <h1 class="nombre">{{animal.nombre}}</h1>
              <hr>  
              <div class="raza">
                  <span >{{animal.raza}}</span>
              </div>
              <div class="edad">
                <span >{{animal.edad}} años</span>
            </div>
              <p class="lead">{{animal.descripcion}}</p>
              <div class="d-flex">
                <form [formGroup]="citasForm"><br>
                  <input class="input" *ngIf="isLogged" type="date" [(ngModel)]="cita.fecha" name="fecha" id="fecha" formControlName="fecha" class="form-control">
                  <button *ngIf="isLogged" type="button" class="btn btn-sm btn-outline-secondary" [disabled]="citasForm.invalid" (click)="onClickGuardarCita()">Pedir cita</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>