
<div class=""col-md-6 offset-md-3>
    <h3 class="text-center">Registrar un Voluntario</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="voluntariosForm"><br>
      <div class="form-group">
        <label>Dia de la semana: </label>
        <input type="text" [(ngModel)]="voluntario.diaSemana" name="diaSemana" id="diaSemana" formControlName="diaSemana" class="form-control">
      </div><br>
      <div class="form-group">
        <label>Hora: </label>
        <input type="text" [(ngModel)]="voluntario.hora" name="hora" id="hora" formControlName="hora" class="form-control">
      </div><br>
      <div class="form-group">
        <label>Usuario: </label>
        <select formControlName="usuario" [(ngModel)]="usuario" class="form-control"
        (change)="setUsuarioVoluntario()">
          <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.nombre}}</option>
        </select>      
      </div><br>
      <button type="submit" class="btn btn-success" [disabled]="voluntariosForm.invalid">Guardar</button>
    </form>
  </div><br>
  
  