<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio" routerLinkActive="active">Inicio</a>  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="animales" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Animales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      
                      <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-animal" routerLinkActive="active">Añadir animal</a>
                    </div>
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="citas" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      citas
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-cita" routerLinkActive="active">Añadir cita</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="usuarios" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      usuarios
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-usuario" routerLinkActive="active">Añadir usuario</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="roles" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    roles
                  </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                  <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-rol" routerLinkActive="active">Añadir rol</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="voluntarios" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Voluntarios
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-voluntario" routerLinkActive="active">Añadir voluntarios</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="patrocinadores" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Patrocinadores
              </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-patrocinador" routerLinkActive="active">Añadir patrocinador</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="actividades" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actividades
            </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-actividad" routerLinkActive="active">Añadir actividad</a>
          </div>
        </li>
                <li class="nav-item">
                    <a class="navbar-brand" routerLink="animales" routerLinkActive="active">Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h1 class="text-center">{{title}}</h1>
<div class="container">

<router-outlet></router-outlet>
</div>