<nav class="navbar navbar-expand-sm navbar-dark bg-dark" >
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="animales" routerLinkActive="active">Principal</a>  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Animales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="animales" routerLinkActive="active" data-bs-toggle="tab">Lista de animales</a>
                      <a class="dropdown-item" data-bs-toggle="tab" routerLink="registrar-animal" routerLinkActive="active">Añadir animal</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" routerLink="animales" routerLinkActive="active">Link</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>