<div class="container">
<div class="card">
    <div class="card-title"><img src="../../../assets/img/usuario.png" alt="foto usuario"></div>
    <div class="card-body">
      <h5 class="card-title">{{usuario.nombre}} {{usuario.apellidos}}</h5>
      <br>
      <p class="card-text">{{usuario.email}}</p>
      <p class="card-text">{{usuario.dni}}</p>
    </div>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Teléfono: 665 665 665</li>
      <li class="list-group-item">Email: equipo@elamornosecompra.es</li>

    </ul>
    <div class="card-body">
      <a routerLink="/inicio" class="card-link">Modificar</a>
      <a (click)="onClickEliminarUsuario(usuario.id)" class="card-link">Eliminar cuenta</a>
    </div>
  </div>
</div>